<?xml version="1.0"?>
<config>
    <modules>
        <Alaa_FacebookConnect>
            <version>0.1.1</version>
        </Alaa_FacebookConnect>
    </modules>
    <global>
        <models>
            <alaa_facebookconnect>
                <class>Alaa_FacebookConnect_Model</class>
                <resourceModel>alaa_facebookconnect_resource</resourceModel>
            </alaa_facebookconnect>
            <alaa_facebookconnect_resource>
                <class>Alaa_FacebookConnect_Model_Resource</class>
                <entities>
                    <user>
                        <table>facebook_connect_user</table>
                    </user>
                </entities>
            </alaa_facebookconnect_resource>
        </models>
        <resources>
            <alaa_facebookconnect_setup>
                <setup>
                    <module>Alaa_FacebookConnect</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </alaa_facebookconnect_setup>
        </resources>
        <helpers>
            <alaa_facebookconnect>
                <class>Alaa_FacebookConnect_Helper</class>
            </alaa_facebookconnect>
        </helpers>
        <blocks>
            <alaa_facebookconnect>
                <class>Alaa_FacebookConnect_Block</class>
            </alaa_facebookconnect>
            <alaa_facebookconnect_admin>
                <class>Alaa_FacebookConnect_Block_Adminhtml</class>
            </alaa_facebookconnect_admin>
        </blocks>
    </global>
    <frontend>
        <routers>
            <alaa_facebookconnect>
                <use>standard</use>
                <args>
                    <module>Alaa_FacebookConnect</module>
                    <frontName>facebook_connect</frontName>
                </args>
            </alaa_facebookconnect>
        </routers>
        <layout>
            <updates>
                <Alaa_Facebookconnect>
                    <file>alaa_facebookconnect.xml</file>
                </Alaa_Facebookconnect>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <alaa_load>
                        <type>singleton</type>
                        <class>alaa_facebookconnect/observer</class>
                        <method>loadFacebook</method>
                    </alaa_load>
                </observers>
            </controller_action_predispatch>
            <model_save_after>
                <observers>
                    <alaa_facebookconnect_register_customer>
                        <type>singleton</type>
                        <class>alaa_facebookconnect/observer</class>
                        <method>registerCustomer</method>
                    </alaa_facebookconnect_register_customer>
                </observers>
            </model_save_after>
            <controller_action_predispatch_customer_account_index>
                <observers>
                    <alaa_facebookconnect_user_load>
                        <type>singleton</type>
                        <class>alaa_facebookconnect/observer</class>
                        <method>loginCustomer</method>
                    </alaa_facebookconnect_user_load>
                </observers>
            </controller_action_predispatch_customer_account_index>
        </events>
    </frontend>
    <admin>
        <routers>
            <alaa_facebookconnect_admin>
                <use>admin</use>
                <args>
                    <module>Alaa_FacebookConnect_Adminhtml</module>
                    <frontName>facebook</frontName>
                </args>
            </alaa_facebookconnect_admin>
        </routers>
    </admin>
</config>
